* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

.App {
  text-align: center;
}

.home button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

canvas {
  background-color: black;
  cursor: crosshair;
  margin-top: 20px;
  border: 1px solid black;
}

.sidebar {
  width: 200px;
  height: 100vh;
  position: fixed;
  left: 30px;
  top: 30px;
  background-color: #F8D5C9;
  box-shadow: -2px 0 8px  rgba(0, 0, 0, 0.2), 2px 0 8px rgba(0, 0, 0, 0.2), 0 -2px 8px rgba(0, 0, 0, 0.2);
  z-index: 2;
  border-radius: 15px;
  padding-top: 15px;
}
.sidebar button {
  display: block;
  width: 80%;
  margin: 10px auto;
  padding: 10px;
  font-size: 16px;
  background-color: #fee6e3;
  color: #111;
  border: 2px solid #6b53447b;
  border-radius: 8px;
  cursor: pointer;
  border-radius: 5px;
}
.sidebar button:hover {
  background-color: #fed8d3;
  border: 2px solid #6b5344;
}

.my_funny_css {
  --s: 10px; /* control the size*/
  --c1: #6b5344;
  --c2: #f8ecc9;
  
  --_l: #0000 46%,var(--c1) 47% 53%,#0000 54%;
  background:
    radial-gradient(circle at 2px 2px, var(--c1) 2px, var(--c2) 0);
  background-size: calc(var(--s)*2) calc(var(--s)*2);
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  animation: moveBackground 120s linear infinite;
}

@keyframes moveBackground {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 100% 100%;
  }
}

hr {
  border: none;
  border-top: 2px solid #6b5344; /* Adjust color and thickness */
  margin: 20px 0; /* Adjust spacing */
}



.resizable-container {
  position: relative;
  width: 100%;
  height: 130px; /* Initial height of the resizable container */
  background-color: #f0f0f0;
  overflow: hidden;
  display: flex; /* Use flexbox for horizontal layout */
}

.content {
  border: 1px solid #ccc;
}

.inner-content {
  padding: 10px;
}

.brush-color-button {
  display: inline-block;
  padding: 10px;
  height: 40px;
  width: 40px;
  font-size: 16px;
  color: white;
  background-color: var(--button-color, #007bff); /* Default color if not specified */
  border: 2px solid #ccc;
  border-radius: 70%; /* Makes the button circular */
  cursor: pointer;
  text-decoration: none; /* Remove underline from button */
  outline: none; /* Remove default focus outline */
}

.brush-color-button:hover {
  border: 2px solid #fed8d3;
}

.return-top-bar {
  height: 60px;
  position: relative;
  left: 15px;
  top: 15px;
  width: 100%;
  background-color: #F8D5C9;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  box-shadow: -2px 0 8px rgba(0, 0, 0, 0.2);
}

.return-bar-button {
  display: block;
  padding: 10px;
  font-size: 16px;
  background-color: #fee6e3;
  color: #111;
  border: 2px solid #6b53447b;
  border-radius: 8px;
  cursor: pointer;
  border-radius: 5px;
}
.return-bar-button:hover {
  background-color: #fed8d3;
  border: 2px solid #6b5344;
}